#main-content {
	margin: 1em;
}

#category-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1em;
}

#category-table td {
	border-radius: 0.3em;
}

.category {
	position: relative;
	text-align: center;
	width: 25%;
	background-color: white;
	padding: 0.5em;
}

.category span {
	position: absolute;
	bottom: 0.5em;
	color: #111111;
	text-transform: uppercase;
	text-align: center;
}

.category-image {
	max-width: 512px;
	max-height: 512px;
	min-width: 256px;
	min-height: 256px;
}